@import 'normalize.styl'
@import 'fonts.styl'

dark_grey   = #333333
light_grey  = #818181

a 
	text-decoration none
body
	font-family 'Varela Round', sans-serif
	font-size 16px
figure 
	margin 0 
img
	vertical-align top
ul
	margin 0
	padding 0

.button-menu
	color red
	left .5em
	margin-top -8px
	position absolute
	top 50%

//oocss classes
.author 
	color light_grey
.border-bottom
	border-bottom 1px solid light_grey
.container
	font-size 0
	padding 1.4rem
	text-align center
.header
	height 3.5em 
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.menu
	display none
.name
	color dark_grey  
//class OOCSS 
.relative 
	position relative
.song
	display inline-block
	font-size 1rem 
	margin-botton 1rem
	margin-right 1rem
	text-align left
	width 8rem  
	//seudo classes	
	//remove margin-right only for even
	&:nth-child(even)
		margin-right 0
	p 
		margin .5rem 0 