@import 'normalize.styl'

gris_oscuro = #333333
gris_claro  = #818181

body
	font-size 16px
figure 
	margin 0 

.author 
	color gris_claro
	
.container
	font-size 0
	padding 1.4em

.name
	color gris_oscuro

.song
	display inline-block
	width 8rem  
	font-size 1rem 
