@import 'normalize.styl'

gris_oscuro = #333333
gris_claro  = #818181

body
	font-size 16px
figure 
	margin 0 

.author 
	color gris_claro

.container
	font-size 0
	padding 1.4rem
	text-align center

.name
	color gris_oscuro

.song
	display inline-block
	font-size 1rem 
	margin-botton 1rem
	margin-right 1rem
	text-align left
	width 8rem  
	//seudo classes	
	//remove margin-right only for even
	&:nth-child(even)
		margin-right 0
	p 
		margin .5rem 0 